@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Maven Pro', sans-serif;
    font-size: 18px;
 

}
.container{
    
    margin: 0 auto;
}
.main-navigation{
    width: 1158px;
    background-color: #f7e296;
    margin: 42px auto;
    display: flex;
    flex-direction: column;
     
}
.main-logo{
    margin-top: -30px;
    padding: 10px 50px;

  
}
.wrapper{   
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start ;
    padding: 0 40px;
    
}
.user-navigation-list,.site-navigation-list,.breadcrubs,.sort-navigation-list,
.catalogs-list,.pagination-list,.social-navigation-list,.footer-site-navigation-list{
    list-style-type: none;
}

.search span{
    margin-left: 19px;
}
.search input{
    width: 200px;
    padding-inline-start:5px;
    border: none;
    background-color: inherit;
    font-family: 'Maven Pro', sans-serif;
    font-size: 18px;
    outline: none;
 
}
.user-navigation-list,.site-navigation-list{
    width: 530px;
    display: flex;
}
.user-navigation-list>li{
    font-size: 15px;
    color: black;
    text-transform: capitalize;
    padding: 7px 3px;
    margin-right: 35px;
 
  
}
.wrapper a{
    font-family: 'Maven Pro', sans-serif;   
    font-size: 15px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 15px;
    font-weight: 700;
    padding: 10px 18px;
}
.site-navigation-contact{
    margin-left: 150px;
}
.btn-log-out{
    display: block;
    font-size: 15px;
    font-family: 'Maven Pro', sans-serif;
    color: #c8b678;
    background-color: transparent;
    border: none;
    padding: 0 5px;
}
.user-navigation-list>li:first-child{
    display: flex;
    flex-direction: row;
  
 
}
/*main style*/

.vissually-hidden{
    display: none;
}
ion-icon {
    font-size: 12px;
    font-weight: 700;
    margin-right:7px;
    
  }
.breadcrubs-part-title{
    font-size: 45px;
    padding:0px 0px 20px 30px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 10px;
}
.breadcrubs{
    display: flex;
    margin-left: 30px;
    margin-bottom: 35px;
}
.breadcrubs li,.breadcrubs a{
    font-family: 'Maven Pro', sans-serif;   
    font-size: 14px;
    color: rgb(83, 82, 82);
    text-decoration: none;
    padding: 10px 5px; 

}
.catalog-column{
    display: flex;
}


.sort{
    margin-left: auto;
    width: 1000px;
    min-height: 1072px;
   
}
.form{
    margin-right: auto;
    width:300px;
    min-height:1200px;
    background-color: rgb(190, 189, 189);
    display: flex;
    flex-direction: column;
    padding: 10px;
 
}
.form-title{
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}
.sort-box{
    margin: 80px 25px;
    border-top:2px solid black ;

}
.sort-box p{
    width: 100%;
}

.sort-navigation-list{
    display: flex;
    justify-content: center;

}
.color-checkbox, .radio-box{
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
 padding: 7px 10px;
 cursor: pointer;


}
input[type="checkbox"],
input[type="radio"]{
    height: 22px;
    border: 2px solid black;
    width: 22px;
    background-color: beige;
    border: 2px solid black;
}
label{
    font-family:'Maven Pro', sans-serif;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
   
}

.catalogs-list-item{
        width: 370px;
        min-height: 415px;
        margin-left: 50px;
  
}

.catalogs-list-item img{
      width: 360px;
      min-height: 380px;

}

.catalogs-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
h3{
    margin: 0;
    min-height: 50px;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    background-color:lightgrey;
    margin-bottom: 30px;
  
}

.pagination-list{
    display: flex;
    min-height: 57px;
    align-items: center;
    justify-content: center;
   
}
.pagination-list li{
    margin-left: 20px;
}
.pagination-list a{
    font-size: 15px;
    font-family: 'Maven Pro', sans-serif;
    color: #c8b678;
    text-decoration:none;
    padding: 5px;

}

.pagination{
    width: 820px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #efefef;
    margin-left: auto;
    margin-top: -150px;
}
.pagination .btn{
    font-size: 18px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 700;
    color: black;
    line-height: 20px;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
}
.pagination-list a.pagination-current{
    color: black;
    font-weight: 700;
}
/*footer style*/
.footer{
    width: 1140px;
    background-color: #464646;
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    padding-top: 40px;

}
.footer-wrapper .user-navigation-list li{
    color: grey;
}
.footer-wrapper text{
    fill: #c8b678;
}
.footer-wrapper ion-icon{
    color: #c8b678;
}

.footer-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:35px;
    padding: 0 100px;
    
}
.footer-site-navigation-list{
    display: flex;
}
a[href^="mailto"]::before {
    content: "📧 ";
    padding: 7px;

}
address a{
    font-family: 'Maven Pro', sans-serif;
    font-size: 18px;
    color: grey;
    text-decoration: none;
 
}
.footer-site-navigation-list li a, .social-navigation-list li a{
    font-family: 'Maven Pro', sans-serif;
    font-size: 18px;
    color: #ffffff;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.social-navigation-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
 }
 input[type="tel"]{
     background-color: transparent;
     outline: none;
     border: none;
     font-size: 15px;
 }
.social-button{
    border: 2px solid white;
    border-radius:50%;
    width: 50px;
    height: 50px;
}
