.header {
  width: 100%;
  background-color: $color-white;
  padding: 2rem 9.9rem;
  padding-bottom: 12.5rem;
  .wrapper {
    @include flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__logo {
    justify-self: start;
    max-width: 45.8rem;
  }
  &__inner-box {
    @include flex;
    align-items: center;
    margin-top: 5rem;
    gap: 20rem;
    & .inner-box {
      &__title {
        font-weight: 400;
        font-family: "Libre Baskerville";
        font-size: 5.7rem;
        line-height: 1.1em;
        color: #343d33;
        margin-bottom: 0.28em;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-transform: capitalize;
        max-width: 52.8rem;
      }
      &__subtitle {
        font-weight: 300;
        font-size: 2.5rem;
        line-height: 1.52em;
        text-transform: capitalize;
        color: #414840;
        margin-bottom: 2.28em;
        max-width: 47.1rem;
      }
      &__image {
        border-radius: 500px 500px 0px 0px;
        box-shadow: 0 0 4px #343d33;
        max-width: 45.8rem;
        img {
          padding: 3px;
        }
      }
    }
  }
}
